<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe name:</strong>
  <%= @recipe.recipe_name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Ispublic:</strong>
  <%= @recipe.isPublic %>
</p>

<div>
<%= link_to image_tag(@recipe.image , style: 'width: 100%'), recipes_path %>
</div>


<% if @recipe.user == current_user %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
