<div class = "container">
<div class="jumbotron">
<h1 class="display-4">
  <%= @recipe.recipe_name %>
</h1>

<p class = "lead">
<span class = "specialfont">Ingredients:</span>
  <%= @recipe.ingredients %>
</p>

<p class = "lead">
  <span class = "specialfont">Instructions:</span>
  <%= @recipe.instructions %>
</p>

<div class = "row justify-content-center">
<div class = "col-2"></div>
<div class = "col-md-6">
<%= link_to image_tag(@recipe.image , class: "col", style: 'height: 100%; width: 100%; object-fit: contain'), recipes_path %>
</div>
<div class = "col-2"></div>
</div>

</div>
</div>

<% if @recipe.user == current_user %>
<%= link_to 'Edit', edit_recipe_path(@recipe) , class: 'btn btn-secondary', style: 'margin-bottom: 5%'%> 
<% end %>
<%= link_to 'Back', recipes_path , class: 'btn btn-dark', style: 'margin-bottom: 5%'%>
